<footer
  class="py-5"
  [ngClass]="{
    'bg-light text-body': !themeService.isDark(),
    'bg-dark text-white': themeService.isDark()
  }"
>
  <div class="container text-center">
    <div class="mb-4">
      <h2 class="fw-bold mb-3" [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'">
        Síguenos
      </h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
            class="text-decoration-none"
            href="https://www.instagram.com/"
          >
            <i class="bi bi-instagram me-1"></i>Instagram
          </a>
        </li>
        <li class="list-inline-item">
          <a
            [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
            class="text-decoration-none"
            href="https://www.facebook.com/?locale=es_ES"
          >
            <i class="bi bi-facebook me-1"></i>Facebook
          </a>
        </li>
        <li class="list-inline-item">
          <a
            [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
            class="text-decoration-none"
            href="https://x.com/?lang=es"
          >
            <i class="bi bi-twitter me-1"></i>Twitter
          </a>
        </li>
        <li class="list-inline-item">
          <a
            [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
            class="text-decoration-none"
            href="https://www.youtube.com/?app=desktop&hl=es"
          >
            <i class="bi bi-youtube me-1"></i>YouTube
          </a>
        </li>
        <li class="list-inline-item">
          <a
            [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
            class="text-decoration-none"
            href="https://www.tiktok.com/es/"
          >
            <i class="bi bi-tiktok me-1"></i>TikTok
          </a>
        </li>
      </ul>
    </div>

    <div class="row justify-content-center text-start">
      <div class="col-md-3 mb-3">
        <h5 [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Partidos</a></li>
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Equipos</a></li>
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Resultados</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5 [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'">Nosotros</h5>
        <ul class="list-unstyled">
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Empresa</a></li>
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Contacto</a></li>
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Carreras</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5 [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'">Legal</h5>
        <ul class="list-unstyled">
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Aviso Legal</a></li>
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Privacidad</a></li>
          <li><a [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'" class="text-decoration-none" href="#">Términos y Condiciones</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>