<app-navbar></app-navbar>

<div class="d-flex">

<app-sidebar></app-sidebar>
 
 <table class="table table-hover table-bordered text-center align-middle shadow-sm">
   <thead class="table-dark">
     <tr>
       <th>#</th>
       <th>Equipo</th>
       <th>Puntos</th>
       <th>PG</th>
       <th>PE</th>
       <th>PP</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let equipo of clasificacion; index as i">
       <td>{{ i + 1 }}</td>
       <td>{{ equipo.nombre }}</td>
       <td>{{ equipo.puntos }}</td>
       <td>{{ equipo.pg }}</td>
       <td>{{ equipo.pe }}</td>
       <td>{{ equipo.pp }}</td>
     </tr>
   </tbody>
 </table>

</div>

 <app-footer></app-footer>