<app-navbar></app-navbar>

<div class="d-flex">

<app-sidebar></app-sidebar>

        <!-- Selector de temporada -->
        <div class="ms-4">
          <label for="anoSelect" class="form-label mb-0">Temporada</label>
          <select 
            id="anoSelect" 
            class="form-select" 
            [(ngModel)]="selectedTemporada" 
            (change)="onFiltroCambio()">
            <option *ngFor="let ano of temporadas" [value]="ano">{{ ano }}</option>
          </select>
        </div>
 
 <table class="table table-hover table-bordered text-center align-middle shadow-sm">
   <thead class="table-dark">
     <tr>
       <th>#</th>
       <th>Equipo</th>
       <th>Puntos</th>
       <th>PG</th>
       <th>PE</th>
       <th>PP</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let equipo of clasificacion">
       <td>{{ equipo.rank }}</td>
       <td>
        <img [src]="equipo.team.logo" width="20">
        {{ equipo.team.name }}
      </td>
       <td>{{ equipo.points }}</td>
       <td>{{ equipo.all.win }}</td>
       <td>{{ equipo.all.draw }}</td>
       <td>{{ equipo.all.lose }}</td>
     </tr>
   </tbody>
 </table>

  <div *ngIf="errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>
</div>

 <app-footer></app-footer>