<nav class="nav flex-column p-3">

  <!-- ==== Botón Partidos ==== -->
  <ng-container *ngIf="league === 'nba'">
    <a
      class="btn btn-outline-primary mb-3 w-100"
      [routerLink]="['/nba','fixtures', 12, 2023, 1]"
    >
      Partidos NBA
    </a>
  </ng-container>
  <ng-container *ngIf="league === 'euroliga'">
    <a
      class="btn btn-outline-primary mb-3 w-100"
      [routerLink]="['/euroliga','fixtures', season]"
    >
      Partidos Euroliga
    </a>
  </ng-container>
  <ng-container *ngIf="league === 'acb'">
    <a
      class="btn btn-outline-primary mb-3 w-100"
      [routerLink]="['/acb','fixtures', season]"
    >
      Partidos ACB
    </a>
  </ng-container>

  <!-- ==== Sección Clasificación ==== -->
  <ng-container *ngIf="league === 'nba'">
    <a
      class="nav-link"
      [routerLink]="['/nba','standings', 1, season]"
      routerLinkActive="active"
      [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
    >
      Clasificación NBA
    </a>
  </ng-container>
  <ng-container *ngIf="league === 'euroliga'">
    <a
      class="nav-link"
      [routerLink]="['/euroliga','standings', season]"
      routerLinkActive="active"
      [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
    >
      Clasificación Euroliga
    </a>
  </ng-container>
  <ng-container *ngIf="league === 'acb'">
    <a
      class="nav-link"
      [routerLink]="['/acb','standings', season]"
      routerLinkActive="active"
      [ngClass]="themeService.isDark() ? 'text-white' : 'text-body'"
    >
      Clasificación ACB
    </a>
  </ng-container>

</nav>
