<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2 text-white" routerLink="/home">
      <img src="Logo1-TFG.png" alt="logo" width="24" height="24"
           class="d-inline-block" style="transform: scale(2); transform-origin: center;">
      <span class="fs-5 fw-bold align-middle" style="line-height: 1;">Nombre App</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/futbol">Fútbol</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/equipos">Equipos</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/competiciones">Competiciones</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/login">Iniciar Sesión</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/ajustes"><i class="bi bi-gear-fill"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
