.bg-champions {
  background-color: #0052CC;  
  color: #fff;
}
.bg-europa {
  background-color: #FF8C00; 
  color: #fff;
}
.bg-conference {
  background-color: #00bf13;  
  color: #fff;
}
.bg-relegation {
  background-color: #D32F2F;
  color: #fff;
}
