/* Colores a tu gusto, aquí un ejemplo */
.bg-champions {
  background-color: #0052CC !important;  
  color: #fff;
}
.bg-europa {
  background-color: #FF8C00 !important; 
  color: #fff;
}
.bg-conference {
  background-color: #00bf13 !important;  
  color: #000;
}
.bg-relegation {
  background-color: #D32F2F !important;
  color: #fff;
}
