.campo {
  background: green;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 16px;
  position: relative;
  min-height: 400px;
}

.fila-posicion {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 24px 0;
}

.jugador-circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  color: black;
  background-color: white;
}
