.campo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 350px;
  height: 450px;
  border: 1px solid #444;
  background-color: #cdebdc;
  justify-items: center;
  align-items: center;
}
.jugador {
  width: 40px;
  height: 40px;
  background-color: #017b25;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
