<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="home.component.scss">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <img src="/Logo1-TFG.png" alt="logo" class="logo-img">
            <span class="logo-text">Ejemplo</span>
            <li><a routerLink="/futbol">Fútbol</a></li>
            <li><a routerLink="/equipos">Equipos</a></li>
            <li><a href="#competiciones">Competiciones</a></li>
        </div>
        <ul class="navbar-right">
            <li><a routerLink="/login">Iniciar Sesión</a></li>
            <li><a href="#ajustes"></a><i class="bi bi-gear-fill"></i></li>
        </ul>
    </nav>
    <h2>Noticias de última hora</h2>
    <footer class="footer">
        <div class="footer-bottom">
            <div class="social">
                <h2 class="footer-title">Síguenos</h2>
                <ul class="social-links">
                    <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="bi bi-youtube"></i> YouTube</a></li>
                    <li><a href="#"><i class="bi bi-tiktok"></i> TikTok</a></li>
                </ul>
            </div>
            <div class="columns">
                <div class="column">
                    <h3>Enlaces Rápidos</h3>
                    <ul>
                        <li><a href="#">Partidos</a></li>
                        <li><a href="#">Equipos</a></li>
                        <li><a href="#">Resultados</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Nosotros</h3>
                    <ul>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Carreras</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Legal</h3>
                    <ul>
                        <li><a href="#">Aviso Legal</a></li>
                        <li><a href="#">Privacidad</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>