<nav class="navbar">
    <div class="navbar-left">
        <img src="Logo1-TFG.png" alt="logo" class="logo-img">
        <span class="logo-text">Ejemplo</span>
        <li><a routerLink="/futbol">Fútbol</a></li>
        <li><a routerLink="/equipos">Equipos</a></li>
        <li><a href="#competiciones">Competiciones</a></li>
    </div>
    <ul class="navbar-right">
        <li><a routerLink="/login">Iniciar Sesión</a></li>
        <li><a href="#ajustes"><i class="bi bi-gear-fill"></i></a></li>
    </ul>
</nav>

<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column">
        <div class="sidebar-heading text-center">Menú</div>

        <!-- La Liga -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link px-3" data-bs-toggle="collapse" href="#collapseLiga">
                    <i class="bi bi-caret-right-fill"></i> Liga Española
                </a>
                <div class="collapse" id="collapseLiga">
                    <ul class="nav flex-column ms-4">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="liga-espanola/partidos">Partidos de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="liga-espanola/clasificacion">Clasificación de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="liga-espanola/copa-del-rey">Copa del Rey</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <!-- Premier League -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link px-3" data-bs-toggle="collapse" href="#collapsePremier" role="button"
                    aria-expanded="false" aria-controls="collapsePremier">
                    <i class="bi bi-caret-right-fill"></i> Premier League
                </a>
                <div class="collapse" id="collapsePremier">
                    <ul class="nav flex-column ms-4">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="premier/partidos">Partidos de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="premier/clasificacion">Clasificación de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="premier/fa-cup">FA Cup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="premier/carabao-cup">Carabao Cup</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <!-- Bundesliga -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link px-3" data-bs-toggle="collapse" href="#collapseBundesliga" role="button"
                    aria-expanded="false" aria-controls="collapseBundesliga">
                    <i class="bi bi-caret-right-fill"></i> Bundesliga
                </a>
                <div class="collapse" id="collapseBundesliga">
                    <ul class="nav flex-column ms-4">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="bundesliga/partidos">Partidos de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="bundesliga/clasificacion">Clasificación de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="bundesliga/dfb-pokal">DFB Pokal</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <!-- Serie A -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link px-3" data-bs-toggle="collapse" href="#collapseSerieA" role="button"
                    aria-expanded="false" aria-controls="collapseSerieA">
                    <i class="bi bi-caret-right-fill"></i> Serie A
                </a>
                <div class="collapse" id="collapseSerieA">
                    <ul class="nav flex-column ms-4">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="serie-a/partidos">Partidos de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="serie-a/clasificacion">Clasificación de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="serie-a/copa-italia">Copa Italia</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <!-- Ligue 1 -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link px-3" data-bs-toggle="collapse" href="#collapseLigue1" role="button"
                    aria-expanded="false" aria-controls="collapseLigue1">
                    <i class="bi bi-caret-right-fill"></i> Ligue 1
                </a>
                <div class="collapse" id="collapseLigue1">
                    <ul class="nav flex-column ms-4">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="ligue-1/partidos">Partidos de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="ligue-1/clasificacion">Clasificación de Liga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="ligue-1/copa-de-francia">Copa de Francia</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

    <!-- Aquí se carga el contenido dinámico de las subrutas -->
    <div class="flex-fill p-4">
        <router-outlet></router-outlet>
    </div>
</div>